{% extends "auctions/layout.html" %}
{% load mathfilters %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    {% if user.is_authenticated and listing.winner == user and listing.isActive == False %}
        <h3>You are the auction winner!</h3>
    {% endif %}

    <div>
        {% if user.is_authenticated %}
            <form action="{% url 'listing' listingId=listing.id %}" method="POST">
                {% csrf_token %}
                {% if inWatchlist %}
                    <button type="submit" name="removeWathclist">Remove from Watchlist</button>
                {% else %}
                    <button type="submit" name="addWatchlist">Add to Watchlist</button>
                {% endif %}
            </form>
            {% if listing.owner == user%}
                <form action="{% url 'listing' listingId=listing.id %}" method="POST">
                    {% csrf_token %}
                    {% if listing.isActive %}
                        <button type="submit" name="closeAuction">Close Auction</button>
                    {% else %}
                        <button type="submit" name="openAuction">Open Auction</button>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ listing.imageUrl }}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">{{ listing.description }}</p>
            <p class="card-text">
                <h2>${{ listing.price }}</h2>
            </p>


            <p class="card-text">
                <h4>Details</h4>
            </p>
            <form>
                {% csrf_token %}
            </form>
            <ul>
                <li>Listed by: {{ listing.owner }}</li>
                <li>Category: {{ listing.category }}</li>
            </ul>
        </div>
    </div>
    <h3>Bids</h3>
    {% if user.is_authenticated and listing.isActive%}
        <div class="m-2">
            {% if listing.owner != user%}
                <form  action="{% url 'listing' listingId=listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="number" step="0.01" min="{{ listing.price|addition:0.01 }}" name="bid" id="bid" placeholder="0.00">
                    <button type="submit" name="placeBid">Place Bid</button>
                </form>
            {% endif %}
        </div>
    {% endif %}
    <ul class="list-group">
        {% for bid in bids %}
            <li class="list-group-item">
                <p>{{ bid.user }} bidded ${{ bid.bid }}</p>
            </li>
        {% endfor %}
      </ul>
    <h3>Comments</h3>
    {% if user.is_authenticated %}
    <div class="m-2">
        <form  action="{% url 'listing' listingId=listing.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="comment" placeholder="Comment">
            <button type="submit" name="addComment">Comment</button>
        </form>
    </div>
    {% endif %}
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                <p>{{ comment.comment }}</p>
                <p>Posted by: {{ comment.author }} </p>
            </li>
        {% endfor %}
      </ul>
{% endblock %}